#backToTop {
  position: fixed;
  bottom: 3.5rem;
  right: 2rem;
  background-color: var(--cor-botao-voltar-fundo);
  color: var(--cor-botao-voltar-texto);
  border: 0.5px solid var(--cor-card-sombra);
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--font-size);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  box-shadow: 0 3px 6px var(--cor-card-sombra);
  z-index: 10000;
  user-select: none;
  line-height: 1;
}

#backToTop.visible {
  opacity: 1;
  visibility: visible;
}
